// sidebar
$menuText:#fff;
$menuActiveText:#fff;//#ffb400
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951
$menuBg:#00a9e0;
$menuHover:#00a9e0;
$subMenuBg:#017ed2;
$subMenuHover:#0a3c79;
$sideBarWidth: 210px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
}